$font-header:10px;
$font-header-bold:8px;
$font-footer:10px;
$font-footer-bold:8px;
$font-normal:10px;
$font-bold:12px;
$font-small:8px;
$font-vsmall:5px;
$font-navlogo:30px;
$font-primary:16px;

//Font Color
$primary-color: #333;
$secondary-color:#00ffff;
$navlogo-color:#dbe983;
$blue-grey:#0094ff;
$sky-blue:#1661e8;
$sky-black:#0e4345;